@font-face {
    font-family: 'Open Sans';
    src: url(assets/OpenSans.ttf);
}

:root {
    --primary: #994718;
    --on-primary: #ffffff;
    --secondary: #765749;
    --on-secondary: #ffffff;
    --tertiary: #655f31;
    --on-tertiary: #ffffff;

    --primary-dark: #ffb691;
    --on-primary-dark: #571f00;
    --secondary-dark: #e6beac;
    --on-secondary-dark: #432a1e;
    --tertiary-dark: #d0c890;
    --on-tertiary-dark: #353107;
}

* {
    font-family: 'Open Sans', 'Roboto', sans-serif, Arial;
}

@media screen and (min-width: 768px) {
    header {
        height: 300px;
    }
    .question {
        width: 60%;
        margin: auto;
    }
}


.large-nav {position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/header-bg.jpg");
    background-size: cover;
    background-position: center center;
    
}

.title {
    font-weight: 600;
    color: white;
    width: 100%;
}

.nav {
    background-color: #0009;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-content: center;
    position: absolute;
    bottom: 0;
}

.nav-link {
    color: white;
    font-size: 1.1em;
}

.nav-link:hover {
    color: var(--tertiary-dark);
}

.bg-primary {
    background: var(--primary) !important;
}

.navbar-nav .nav-link {
    color: var(--on-primary) !important;
    opacity: 85%;
}

.navbar-nav .nav-link:hover {
    color: var(--tertiary-dark) !important;
}

.history-image {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    font-style: italic;
}

.overlay-flag{
    position: absolute;
    top:0;
    width: 100%;
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0) 40%, rgba(0,0,0,1));
    mask-image: linear-gradient(to left, rgba(0,0,0,0) 40%, rgba(0,0,0,1));
}

.answers {
    display: flex;
    flex-direction: column;
}

.question {
    margin: 10px auto;
}

.btn-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}
#result {
    text-align: center;
}